/node_modules
/.vscode
/dist*
/bkup*
/config.lua
/towers.json
/speakers.json
/tunnels.json
/earpieces.json
/scanners.json
/jammers.json
/geochannels.json
/mobileRepeaters.json

yarn-error.log
.yarn.installed
.luacheckrc
