# Start the sonoranradio resource
add_unsafe_child_process_permission sonoranradio
ensure sonoranradio
# Permissions for auto-updater (REQUIRED)
add_ace resource.sonoranradio command allow
add_ace resource.sonoranradio_updatehelper command allow
