# Convar Protections
set sonoranradio_apiKey "protection_initialized"
add_convar_permission sonoranradio read sonoranradio_apiKey
add_convar_permission inferno-pager-reborn read sonoranradio_apiKey
add_convar_permission inferno-station-alert read sonoranradio_apiKey

# Start the sonoranradio resource
add_unsafe_child_process_permission sonoranradio
ensure sonoranradio
# Permissions for auto-updater (REQUIRED)
add_ace resource.sonoranradio command allow
add_ace resource.sonoranradio_updatehelper command allow
